:root {
    --lite-red: rgb(255, 133, 139);
    --lite-orange: rgb(255, 172, 151);
    --lite-yellow: rgb(255, 249, 162);
    --lite-green: rgb(40, 238, 182);
    --lite-blue: rgb(43, 232, 241);
    --lite-purple: rgb(194, 163, 255);
    --lite-grey: rgb(236, 240, 243);

    --dark-grey-max: rgb(48, 54, 65);
    --dark-grey-mid: rgb(60, 68, 82);
    --dark-grey-min: rgb(73, 81, 93);

    --dark-black-max: rgb(10, 13, 15);
    --dark-black-mid: rgb(28, 33, 37);
    --dark-black-min: rgb(34, 42, 51);
}

body {
    background: var(--dark-grey-min);
    color: var(--lite-grey);
    font-family: Barlow, sans-serif;
    font-weight: 200;
    margin: 0;
    text-shadow: 1px 1px 1px var(--dark-black-max);
}

a {
    color: var(--lite-orange);
    text-decoration: none;
    font-weight: 500;
}

header,
main,
footer {
    margin: 0 0 0 8rem;
}

header,
footer {
    padding: 0.5rem;
    background: var(--dark-grey-max);
}

header {
    min-height: 3rem;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0.5rem 0;
}

aside {
    height: 100vh;
    width: 8rem;
    position: fixed;
    top: 0;
    background: var(--dark-grey-mid);
}

#current-user {
    text-align: center;
}

#current-user a {
    color: var(--lite-yellow);
    font-size: 0.8rem;
}

#user-initial {
    margin: 1rem auto 0;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    background: #312444;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 0.5rem;
    font-weight: 900;
    box-shadow: 1px 1px 1px var(--lite-green),
        -1px -1px 1px var(--lite-blue)
}


nav {
    padding: 0.25rem 1rem;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    padding: 0.25rem 0;
}

nav i {
    width: 1.5rem;
}

footer {
    font-size: 0.8rem;
    text-align: right;
}

main {
    padding: 0 1rem;
}

section {
    padding: 1rem;
    background: var(--dark-grey-mid);
    margin: 1rem 0;
}

table {
    width: 100%;
}

thead {
    text-align: left;
}

input, button, .radio-label {
    border: none;
    font-family: Barlow, sans-serif;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

input, .radio-label {
    font-weight: 100;
    color: var(--lite-grey);
    background: var(--dark-black-min);
}

button {
    font-weight: 300;
    color: var(--dark-black-min);
    background: var(--lite-purple);
    box-shadow: 1px 1px 1px var(--dark-black-min);
}

button:focus, input:focus {
    outline: 0;
}

input:focus {
    background: var(--dark-black-mid);
}

button:hover {
    background: var(--lite-blue);
}

button:active {
    background: var(--lite-yellow);
}

hr.invis {
    border: none;
}

.tiny {
    font-size: 0.7rem;
}

#message {
    padding: 0.5rem;
    color: var(--dark-black-max);
    text-shadow: none;
    font-weight: 200;
}

.good { background-color: var(--lite-green); }
.bad { background-color: var(--lite-red); }