{{>header}}
    <section>
    <h2>Add New Asset</h2>
    <p id="message" style="display:none;"></p>
    <h3>Title *</h3>
    <input id="title" type="text" />
    <h3>ISBN *</h3>
    <input id="isbn" type="text" />
    <h3>Call Number *</h3>
    <input id="call-number" type="text" />
    <p class="tiny">* Required</p>
    <hr class="invis" />
    <button id="add-asset">Add Asset</button>
    </section>
    <section>
        <h2>Asset List</h2>
        <input id="asset-filter" type="text" placeholder="Start typing to filter..."/>
        <table id="assets">
            <thead>
                <th>Title</th>
                <th>ISBN</th>
                <th>Call Number</th>
                <th>Copies</th>
            </thead>
            <tbody>
                {{#assets}}<tr id='asset-{{id}}' class='asset-item-mod' data-asset-id='{{id}}'>
                <td>{{title}}</td>
                <td>{{isbn}}</td>
                <td>{{callNumber}}</td>
                <td><span id="asset-total-{{id}}" class='asset-copies'>{{count.stats.total}}</span></td>
                {{/assets}}</tr>
            </tbody>
        </table>
    </section>

    <div id="full-modal" style="display:none;">
        <div id="full-modal-content">
            <button id="full-modal-close"><i class="fas fa-times"></i></button>
            <h3 id="asset-modal-title-data"><span id="asset-modal-title"></span></h3>
            <h4>ISBN: <span id="asset-modal-isbn"></span></h4>
            <h5 id="asset-modal-total-text">Total copies: <span id="asset-modal-total">X</span> <button id="add-copy" style="margin-right:1.2rem;">Add new copy &nbsp; <i class="fas fa-plus"></i></button></h5>
            <hr class="divider"/>
            <ul id="asset-modal-copies">
            <li>?</li>
            </ul>
        </div>
    </div>
{{>footer}}