{{>header}}
    <section>
    <h2>Audit Log</h2>
    <table>
        <thead>
            <th>ID</th>
            <th>Actor ID</th>
            <th>Action</th>
            <th>Target ID</th>
            <th>Copy ID</th>
            <th>Timestamp</th>
        </thead>
        <tbody>
            {{#audits}}<tr>
            <td>{{id}}</td>
            <td>{{actorUser}}</td>
            <td>{{action}}</td>
            <td>{{#targetUser}}{{.}}{{/targetUser}}</td>
            <td>{{#copyId}}{{.}}{{/copyId}}</td>
            <td>{{actionDate}}</td>
            {{/audits}}</tr>
        </tbody>
    </table>
    </section>
{{>footer}}