{{>header}}
    <section>
    <h2>My Bookbag</h2>
    <p id="message" style="display:none;"></p>

    <ul id="bookbag-items">{{#user-cart}}
        <li id="cart-item-{{id}}" class="cart-item"><span class="cart-asset-title">{{asset.title}}</span> <button data-cart-id="{{id}}" data-copy-id={{copyId}} class="cart-remove-button"><i class="fas fa-times"></i></button>
        <br />
        <span class="tiny">ISBN: {{asset.isbn}}</span></li>
    {{/user-cart}}
        {{^user-cart-exists}}<li>Your bookbag is empty!</li>{{/user-cart-exists}}
    </ul>
    {{#user-cart-exists}}<button id="bookbag-checkout">Check out</button>{{/user-cart-exists}}
    </section>
{{>footer}}