{{>header}}
    <section>
    <h2>My Bookbag</h2>
    <p id="message" style="display:none;"></p>
    </section>
    <section>{{#user-cart}}
        <ul>
            <li>{{asset.title}}</li>
        </ul>
    {{/user-cart}}
    {{^user-cart-count}}Your bookbag is empty!{{/user-cart-count}}    
    </section>
{{>footer}}