{{>header}}
    <section>
    <h2>My Loans</h2>
    <p id="message" style="display:none;"></p>

    {{#user-loan}}
    <ul id="borrowed-items">
        <li id="copy-item-{{assetCopy.id}}" class="copy-item"><span class="cart-asset-title">{{asset.title}}</span> <button id="return-{{assetCopy.id}}" data-copy-id="{{assetCopy.id}}" class="copy-return-button">Return this item</button>
        <br />
        <span class="tiny">ISBN: {{asset.isbn}}</span></li>
    </ul>
    {{/user-loan}}
    {{^user-loan-exists}}You have no active loans!{{/user-loan-exists}}
    </section>
{{>footer}}