{{>header}}
    <section>
    <h2>My Loans</h2>
    <p id="message" style="display:none;"></p>
    </section>
    <h2>list goes here</h2>
    <section>
        <ul>
            <li>book 1</li>
            <li>book 2</li>
        </ul>
    </section>
{{>footer}}