{{>header}}
    <section>
        {{#notification}}
            <div id="message" class="notification {{notification.type}}" style="text-align: center;">
                    <h2><i class="fas fa-heart-broken"></i> {{notification.code}}!</h2>
                    {{notification.message}}
            </div>
        {{/notification}}
    </section>
{{>footer}}