{{>header}}
    <section>
        {{#notification}}
            <p id="message" class="{{notification.type}}">
                {{notification.message}}
            </p>
        {{/notification}}

        {{#message}}
            <p>{{.}}</p>
        {{/message}}
    </section>
{{>footer}}