{{>header}}
    <section>
    <h2>Current Loans</h2>
    <p id="message" style="display:none;"></p>



    <h4>Quick Stats</h4>
    <ul>
        <li>{{total-items}} total loans</li>
        <li>{{total-late-items}} are late</li>
    </ul>
    <h3>On-time Loans</h3>
    <ul id="borrowed-items">{{#borrowed-items}}
        <li id="copy-item-{{copyId}}" class="{{status}} asset-copy-item">
            <span class="cart-asset-title">{{title}}</span> 
            <br />
            {{#username}}<span class="tiny" style="color:yellow;"><strong>Borrower: </strong>{{.}}</span>{{/username}}
            <br />
            <span class="tiny">
                <strong>Due date:</strong> {{dueDate}}</span>
            <br />
            <span class="tiny"><strong>ISBN:</strong> {{isbn}}</span>
        </li>
        {{/borrowed-items}}
        {{^current-exists}}<li>No on-time loans.</li>{{/current-exists}}
    </ul>

    <h3>Late Loans</h3>
    <ul id="late-items">{{#late-items}}
        <li id="copy-item-{{copyId}}" class="{{status}} asset-copy-item">
            <span class="cart-asset-title">{{title}}</span> 
            <br />
            {{#username}}<span class="tiny" style="color:yellow;"><strong>Borrower: </strong>{{.}}</span>{{/username}}
            <br />
            <span class="tiny" style="color:orange;">
                <strong>Due date:</strong> {{dueDate}}</span>
            <br />
            <span class="tiny"><strong>ISBN:</strong> {{isbn}}</span>
        </li>
    {{/late-items}}
        {{^late-exists}}<li>No late loans.</li>{{/late-exists}}
</ul>
    </section>
{{>footer}}